
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.hero {
    background-image: url(photo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 5px;
}

.about, .services, .contact {
    text-align: center;
}

.parallax {
    background: url(photo2) no-repeat center center/cover;
    height: 50vh;
    position: relative;
    background-attachment: fixed;
}

.parallax-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
   
    
}
.service-box {
    color: aliceblue;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 5px;
    transition: transform 0.3s, color 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-box:hover {
    transform: scale(1.05); 
    color: #000000;
}
#one{
    background-image: url(s1.jpg);

}
#two{
    background-image: url(landscape);
}
#three{
    background-image: url(gt.jpg);
}

.footer {
    background: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.navbar{
    background: linear-gradient(white, rgb(74, 220, 74));
}